/* font-family: "Public Sans", sans-serif;
font-family: "Dosis", sans-serif; 
font-family: 'Muli', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gmail {
  display: flex;
  width: 80px;
  height: auto;
  border-radius: 50%;
}
li img {
  display: flex;
  width: 80px;
  height: auto;
  border: none;
}
.headerButton:hover {
  cursor: pointer;
}
.headerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  width: 300px;
  height: 223px;
  border-radius: 20px;
}
h1 {
  display: none;
}
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
  font-style: oblique;
}
h6 {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 300px;
  height: auto;
}
p {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  margin: 25px;
}
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  font-weight: 600;
  width: 200px;
}
.navList li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 280px;
}
.navList button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  font-weight: 900;
  margin: 0px;
}
.button:hover {
  cursor: pointer;
}

.mainImg {
  display: block;
  /* transform: scale(0.5, 0.5); */
  height: 320px;
  width: 320px;
  object-fit: contain;
}
.mainImg img {
  display: block;
  height: 320px;
  width: auto;
}
/* .navlist other{
} */
.biography {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: fit-content;
  margin: 0px;
}
.bioPhoto img {
  display: flex;
  width: 200px;
  height: auto;
  object-fit: contain;
}
.bioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 15px;
  line-height: 25px;
  margin: 20px;
}
.bioContent img {
  display: flex;
  width: 200px;
  height: auto;
  object-fit: contain;
}
.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: fit-content;
}
.quizApp {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 25px;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  font-size: 18px;
  font-style: bold;
}
.society {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 25px;
  border-radius: 10px;
  width: 320px;
  height: 320px;
  font-size: 18px;
  font-style: bold;
}
.society img {
  display: flex;
  width: 300px;
  height: auto;
  object-fit: contain;
}
.contactPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: fit-content;
  padding: 30px;
  border-radius: 20px;
}
.social {
  display: flex;
  flex-direction: row;
  margin: none;
  position: static;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.social_icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  font-size: 70px;
}
.social_icon:hover {
  border-radius: 20px;
}
.skillsList {
  display: flex;
  list-style: none;
}
.skillsIcon {
  display: flex;
  font-size: 70px;
  margin: 35px;
}
.skillsIcon:hover {
  border-radius: 20px;
}
.projectsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 95px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 25px;
}
